body {
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 800px;
  color: #ddd;
  background-color: #0e0f11;
}

a {
  color: #4fd1c5;
}

a:hover {
  text-decoration: underline;
  color: #70f1e5;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1, h2, h3 {
  color: #e8ecef;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(79, 209, 197, 0.4);
}

